*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(18, 7, 29);
}

h1{
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 70px;
    line-height: 200px;
}
.flex_img{
min-height: 100vh;
width: 100%;
display: flex;
flex-direction: column;
}

.img1{
    margin-left: 10%;
    height: 400px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.img1 img{
    margin-left: 30px;
    border-radius: 10px;
    
}