*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(18, 7, 29);
}

h1{
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 40px;
    line-height: 200px;
}
.flex_img{
min-height: 100vh;
width: 100%;
display: flex;
flex-direction: column;
}

.img1{
 
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img1 img{
    margin-left: 30px;
    border-radius: 5px;
    height: 350px;
    width: 300px;
    padding: 20px;
    
}